<div id="carrier_domain_modal">
    <div id="carrier_domain_wrap">
        <a href="#" class="btn-close">close</a>
        <h1 class="title">携帯電話キャリア・ドメイン一覧</h1>
        <div id="carrier_domain_box">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th bgcolor="#B0B0B0">携帯電話キャリア</th>
                    <th bgcolor="#CCC">ドメイン</th>
                </tr>
                <tr>
                    <td class="carrier" rowspan="5">au</td>
                    <td class="domain">ezweb.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">ido.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">biz.ezweb.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">augps.ezweb.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">uqmobile.jp</td>
                </tr>
                <tr>
                    <td class="carrier">NTTドコモ<br/>（iモード／spモード）</td>
                    <td class="domain">docomo.ne.jp</td>
                </tr>
                <tr>
                    <td class="carrier">NTTドコモ<br/>（mopera U）</td>
                    <td class="domain">mopera.net</td>
                </tr>
                <tr>
                    <td class="carrier">NTTドコモ<br/>（ドコモwebメール）</td>
                    <td class="domain">dwmail.jp</td>
                </tr>
                <tr>
                    <td class="carrier" rowspan="4">Y!mobile<br/>（「PHS・旧ウィルコム」）</td>
                    <td class="domain">pdx.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">wcm.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">willcom.com</td>
                </tr>
                <tr>
                    <td class="domain">y-mobile.ne.jp</td>
                </tr>
                <tr>
                    <td class="carrier" rowspan="5">Y!mobile<br/>（「PHS・旧ウィルコム」以外）</td>
                    <td class="domain">emnet.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">emobile-s.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">emobile.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">ymobile1.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">ymobile.ne.jp</td>
                </tr>
                <tr>
                    <td class="carrier" rowspan="9">旧Jフォン</td>
                    <td class="domain">jp-c.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-d.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-h.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-k.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-n.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-q.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-r.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-s.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">jp-t.ne.jp</td>
                </tr>
                <tr>
                    <td class="carrier" rowspan="3">旧ツーカー</td>
                    <td class="domain">sky.tkc.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">sky.tkk.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">sky.tu-ka.ne.jp</td>
                </tr>
                <tr>
                    <td class="carrier" rowspan="4">ソフトバンク</td>
                    <td class="domain">disney.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">i.softbank.jp</td>
                </tr>
                <tr>
                    <td class="domain">softbank.ne.jp</td>
                </tr>
                <tr>
                    <td class="domain">vodafone.ne.jp</td>
                </tr>
            </table>
        </div>
    </div>
    <span class="blackcover"></span>
</div>