/* common */

#contents {
    #main {
        #main_middle {
            .page-heading {
                border: 0;
                text-align: center;
                color: #000;
                font-size: 2.7rem;
            }
        }
    }
}


/*register page*/

#page_entry {
    #main {
        border-top: 1px solid #cdcdcd;
        background: #f7f7f7;
        .page-heading {
            margin: 0;
            padding: 50px 0;
            border: 0;
            @include text(center, inherit, none);
            font-size: 27.8px;
        }
    }
    #register_form {
        @include config_container(1100px);
        #top_box__body_inner {
            dl {
                dd {
                    p.desc_title {
                        margin: 10px 0 5px;
                        color: #DE5D50;
                        font-size: 16px;
                    }
                    p.desc {
                        margin: 5px 0 0;
                        font-size: 14px;
                        a {
                            text-decoration: underline
                        }
                    }
                    p.m_desc {
                        display: none;
                        margin: 5px 0 0;
                        font-size: 14px;
                        a {
                            text-decoration: underline
                        }
                    }
                    p.m_desc_xs {
                        display: none;
                        margin: 4px 0 0;
                        font-size: 12px;
                        a {
                            text-decoration: underline
                        }
                    }
                }
            }
        }
        #top_box__footer {
            #top_box__button_menu {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                p {
                    width: 100%;
                    display: inline-block;
                    max-width: 250px;
                    height: 50px;
                    &:nth-child(1) {
                        margin-right: 2%;
                        button {
                            width: 100%;
                            height: 100%;
                            background-color: $color;
                            color: #fff;
                            font-size: 13.5px;
                            @include border-radius(0);
                            &:hover {
                                background-color: #fff;
                                color: $color;
                                @include border(1px, $color);
                            }
                        }
                    }
                    &:nth-child(2) {
                        a {
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            color: #444;
                            font-size: 13.5px;
                            @include border(1px, #444);
                            @include border-radius(0);
                            &:hover {
                                background-color: #ababab;
                            }
                        }
                    }
                }
                &::after {
                    @include clear();
                }
            }
        }
    }
}


/*login page*/

#page_mypage_login {
    #main {
        #login_mypage {
            .login_title {
                width: 100%;
                max-width: 450px;
                margin: 8% auto 4%;
                border: 0;
                font-size: 27.8px;
                color: #000;
                @include text(center, inherit, none);
            }
            #login_box {
                min-height: 860px;
                #mypage_login_wrap {
                    padding: 0;
                    float: none;
                    @include config_container(450px);
                    #mypage_login_box {
                        padding: 0;
                        margin: 0;
                        background: inherit;
                        #mypage_login_box__body {
                            .form-group {
                                padding: 0;
                                .form-control {
                                    width: 100%;
                                    max-width: 450px;
                                    height: 45px;
                                    margin: 0 0 10px 0;
                                    @include border(1px, #ccc);
                                    @include border-radius(0 !important);
                                }
                            }
                            .btn_area {
                                padding: 0;
                                p {
                                    float: none;
                                    @include config_container(450px);
                                    button {
                                        padding: 0;
                                        line-height: 54px;
                                        background-color: #e32157;
                                        border: 0;
                                        border-radius: 0;
                                        font-size: 20px;
                                        color: #fff;
                                        &:hover {
                                            background: #fff;
                                            @include border(1px, #e32157);
                                            color: #e32157;
                                        }
                                    }
                                }
                                ul {
                                    padding-top: 20px;
                                    float: none;
                                    text-align: center;
                                    li {
                                        display: inline-block;
                                        a {
                                            font-size: 14.8px;
                                            color: #888888;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* page fogot*/

#page_forgot {
    #contents {
        #main {
            @include config_container(1100px);
            padding: 10% 0;
            .page-heading {
                margin: 0;
                padding: 0;
            }
            #top_box {
                margin: 0;
                padding: 0;
                #top_box__body {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}


/*product list*/

#page_product_list {
    #contents {
        background: #f7f7f7;
        #contents_top {
            #category {
                padding-top: 68px;
                /*** hide category ***/
                display: none !important;
                @include config_container(1100px);
                .category-nav {
                    margin: 0 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    @include border(2px, #000);
                    border-left: 0;
                    border-right: 0;
                    li {
                        margin: 0 20px;
                        a {
                            padding: 0;
                            border: 0;
                            @include text(center, inherit, none);
                        }
                    }
                }
            }
        }
        #topicpath {
            display: none;
        }
        #result_info_box {
            padding: 0;
            #page_navi_top {
                #result_info_box__item_count {
                    display: none;
                }
                #result_info_box__menu_box {
                    float: none;
                    @include config_container(1100px);
                    padding: 0 40px;
                    #result_info_box__menu {
                        /*** hide sorting ***/
                        display: none;
                        padding: 40px 0;
                        #result_info_box__disp_menu {
                            @include float-l(45px);
                            margin-left: 0;
                            select {
                                width: 100%;
                                background: #fff;
                                border: 0;
                            }
                        }
                        #result_info_box__order_menu {
                            margin-left: 0;
                            height: 40px;
                            @include float-r(160px);
                            @include border(1px, #b4b4b4);
                            select {
                                width: 100%;
                                height: 38px;
                                @include border-radius(0 !important);
                                background: #fff;
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
        #item_list {
            @include config_container(1100px);
            padding: 50px 0;
            min-height: 910px;
            .item_list_inner {
                padding: 0 60px;
                margin-left: 0;
                margin-right: 0;
                .product_item_list {
                    padding: 0 15px;
                }
            }
        }
    }
}


/*product detail*/

#page_product_detail {
    #item_detail {
        #detail_wrap {
            @include config_container(1100px);
            padding: 70px 0;
            position: relative;
            #relative_category_box {
                display: none;
            }
            #item_photo_area {
                #detail_image_box__slides {
                    .fixed_item_wrap {
                        img {
                            max-width: 400px;
                            max-height: 470px;
                        }
                    }
                    .slick-dots {
                        max-width: 400px;
                        margin: 20px auto 0;
                        bottom: 5px;
                        li {
                            width: (1 / 3 * 100%) - 1;
                            padding: 0;
                            &:nth-child(2),
                            &:nth-child(5) {
                                margin: 0 1.5%;
                            }
                        }
                    }
                }
            }
            #item_detail_area {
                #detail_description_box__name {
                    margin: 0 0 40px 0;
                    font-size: 28.6px;
                    font-weight: bold;
                    text-align: left;
                    color: #262626;
                }
                #detail_description_box__body {
                    #detail_description_box__normal_price {
                        .price01_default {
                            padding-left: 50px;
                        }
                    }
                    #detail_description_box__sale_price {
                        margin: 40px 0 0 0;
                        padding: 26px 0 0 0;
                        border: 0;
                        .total_price {
                            font-size: 19.1px;
                            font-weight: bold;
                            line-height: 28.6px;
                            color: #232323;
                        }
                        .price02_default {
                            font-size: 38.1px;
                            font-weight: 900;
                            color: #e32157;
                        }
                    }
                }
                #detail_cart_box {
                    .extra-form {
                        margin: 0;
                    }
                    #detail_cart_box__cart_quantity {
                        dt {
                            padding-right: 30px;
                        }
                        .quantity_amount {
                            padding: 0;
                            display: inline-block;
                            @include border(1px, #ddd);
                            #quantity {
                                border-left: 1px solid #ddd;
                                border-right: 1px solid #ddd;
                            }
                        }
                    }
                    #detail_cart_box__button_area {
                        max-width: 460px;
                        margin: 24px 0 0 0;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        ul {
                            width: 49.5%;
                            margin: 0;
                            li {
                                width: 100%;
                                padding: 0;
                                button {
                                    @include border-radius(0);
                                    height: inherit;
                                    line-height: inherit;
                                    padding: 14px 16px;
                                    font-weight: normal;
                                }
                                button.btn-info {
                                    background-color: #fff;
                                    color: #373737;
                                }
                            }
                        }
                    }
                    .total_price_box {
                        .price_tit {
                            padding-right: 15px;
                        }
                        .unit {
                            color: #e32157;
                            font-size: 2.8rem;
                        }
                        #final_price {
                            border: 0;
                            font-size: 3.2rem;
                            width: 100px;
                            text-align: center;
                            color: #e32157;
                            font-weight: 900;
                        }
                    }
                }
                .item_code {
                    display: none;
                }
            }
        }
        #sub_area {
            #detail_free_box__freearea {
                .img_wrap {
                    @include config_container(980px);
                    .mobile_view {
                        padding: 0 20px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


/*about company*/

#about_company {
    background: #fff; // .page_deco {
    //     @include p-absolute(50%,inherit,inherit,0);
    //     background: #e2e2e2;
    //     width: 10%;
    //     height: 283px;
    // }
    .section.banner {
        width: 100%;
        position: relative;
        #top_img {
            width: 100%;
            max-height: 686px;
        }
        .inner_text {
            @include p-absolute(50%, 0, 0, 50%);
            transform: translate(-50%, -38%);
            max-width: 434px;
            img {
                display: block;
            }
        }
    }
    .section {
        &.about {
            background: url(../../default/img/sub/bg.jpg) no-repeat;
            background-position: -15% 30%;
            background-size: 50% 20%;
            padding: 0 30px;
            #vision {
                @include config_container(1100px);
                padding-top: 62px;
                .img_vision {
                    position: relative;
                    left: -217px;
                    top: 97px;
                }
                h2 {
                    font-size: 40px;
                    margin: 0;
                    padding-bottom: 41px;
                    @include text(left, uppercase, none);
                    font-weight: bold;
                    color: #000;
                }
                .part {
                    @include float-l(50%);
                    &.img_box {
                        position: static;
                    }
                    &.text_box {
                        .list {
                            &.red {
                                padding-top: 30px;
                                position: relative;
                                right: 65px;
                                color: #ff194f;
                                font-size: 1.6em;
                                font-weight: 600;
                            }
                            &.black {
                                padding: 56px 0 0 62px;
                                color: #3f3f3f;
                                font-size: 1.1em;
                                line-height: 1.8em;
                            }
                        }
                    }
                }
                &::after {
                    @include clear();
                }
            }
            #mission {
                background: url(../../default/img/sub/bg_tex.png) no-repeat;
                padding: 200px 0 23px 0;
                background-position: 120% 30%;
                background-size: 50%;
                .img_mission {
                    position: relative;
                    top: 20px;
                    left: -67px;
                }
                h2 {
                    @include config_container(1100px);
                    padding: 0 100px 90px 0;
                }
                .mission_lists {
                    @include config_container(1100px);
                    .list {
                        float: left;
                        width: 1 / 3 * 100%;
                        padding: 30px;
                        min-height: 200px;
                        h3 {
                            font-size: 22px;
                            margin: 0;
                            padding: 0 0 30px 0;
                        }
                        p {
                            margin: 0;
                            font-size: 1.1em;
                            line-height: 1.5em;
                        }
                    }
                    &::after {
                        @include clear();
                    }
                }
            }
        }
    }
}


/* faq */

#faq {
    .faq_wrap {
        @include config_container(1100px);
        .faq_nav {
            .faq_menu {
                .list {
                    @include float-l(25%);
                    a {
                        font-size: 14.5px;
                        padding: 17px 0;
                        display: block;
                        color: #000;
                        @include text(center, inherit, inherit);
                        @include border(1px, #b7b7b7);
                    }
                    &.is_active {
                        a {
                            color: #fff;
                            background: #373737;
                        }
                    }
                }
                &::after {
                    @include clear();
                }
            }
        }
    }
    .faq_contents {
        width: 100%;
        padding: 60px 0 0 0;
        min-height: 300px;
        .contents_wrap {
            position: relative;
            .about {
                @include p-absolute(0, 0, 0, 0);
                width: 100%;
                height: 100%;
                display: none;
                &.is_active {
                    display: block;
                }
                .lists {
                    .list {
                        width: 100%;
                        height: 100%;
                        a {
                            display: block;
                            width: 100%;
                            padding: 18px 60px;
                            background: #f7f7f7;
                            color: #3a3a3a;
                            border-bottom: 1px solid #ccc;
                        }
                        p {
                            display: none;
                            margin: 0;
                            padding: 18px 60px;
                            background: #fff;
                        }
                        &.is_active {
                            @include border(1px, #333);
                        }
                    }
                }
            }
        }
    }
}


/*cart page*/

#page_cart {
    #cart {
        @include config_container(1100px);
        min-height: 610px;
        #cart_box__flow_state_list {
            display: none;
        }
        #cart_box__body {
            .total_box {
                position: relative;
                width: 100%;
                .total_price {
                    @include p-absolute(inherit, 0, inherit, inherit);
                    width: 180px;
                    color: #000;
                    .text-primary {
                        color: #e32157;
                    }
                }
                .btn_group {
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                    p {
                        @include float-r(49%);
                        &#total_box__next_button {
                            a {
                                background-color: #e32157;
                            }
                        }
                        &#total_box__top_button {
                            margin-right: 2%;
                            a {
                                background-color: #fff;
                                @include border(1px, #000);
                                color: #000;
                            }
                        }
                    }
                    &::after {
                        @include clear();
                    }
                }
                &::after {
                    @include clear();
                }
            }
        }
    }
}


/* page shopping */

#page_shopping {
    #confirm_wrap {
        @include config_container(1100px);
    }
}


/* page mypage */

.mypage {
    .container-fluid {
        @include config_container(1100px);
        #history_list__total_count {
            width: 100%;
            margin: 0;
            text-align: center;
        }
        #delivery_list_box__body_inner {
            margin: 0;
            width: 100%;
        }
    }
}

/* page mypage change */

#page_mypage_change {
    #detail_box__body {
        dl {
            dd {
                p.desc_title {
                    margin: 10px 0 5px;
                    color: #DE5D50;
                    font-size: 16px;
                }
                p.desc {
                    margin: 5px 0 0;
                    font-size: 14px;
                    a {
                        text-decoration: underline
                    }
                }
                p.m_desc {
                    display: none;
                    margin: 5px 0 0;
                    font-size: 14px;
                    a {
                        text-decoration: underline
                    }
                }
                p.m_desc_xs {
                    display: none;
                    margin: 4px 0 0;
                    font-size: 12px;
                    a {
                        text-decoration: underline
                    }
                }
            }
        }
    }
}


/* page shoping login */

#page_shopping_login {
    #login_wrap {
        @include config_container(1100px);
    }
}


/* page shopping nonmember */

#page_shopping_nonmember {
    #detail_box__body {
        dl {
            dd {
                p.desc_title {
                    margin: 10px 0 5px;
                    color: #DE5D50;
                    font-size: 16px;
                }
                p.desc {
                    margin: 5px 0 0;
                    font-size: 14px;
                    a {
                        text-decoration: underline
                    }
                }
                p.m_desc {
                    display: none;
                    margin: 5px 0 0;
                    font-size: 14px;
                    a {
                        text-decoration: underline
                    }
                }
                p.m_desc_xs {
                    display: none;
                    margin: 4px 0 0;
                    font-size: 12px;
                    a {
                        text-decoration: underline
                    }
                }
            }
        }
    }
}

/* page t.story */

#page_t_story {
    min-height: 810px;
    background-color: #f7f7f7;
    background-image: url(../../default/img/sub/t_story_bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    .wrap {
        @include config_container(1100px);
        padding: 110px 46px 90px;
        h2 {
            margin: 0;
            @include text(center, uppercase, none);
            font-size: 2.2rem;
        }
        >p {
            margin: 0 auto;
            padding: 26px 0 69px;
            @include text(center, uppercase, none);
            font-size: 2.8rem
        }
        .fb_contents {
            .wf-column {
                float: left;
                .grid-item {
                    position: relative;
                    min-width: 228px;
                    margin: 11px;
                    float: left;
                    @include border(1px, #acacac);
                    box-sizing: border-box;
                    box-shadow: 1.2px 1.6px 4px 0 rgba(1, 2, 2, 0.21);
                }
                .fb-img {
                    width: 100%;
                }
                .fb-message {
                    background-color: #fff;
                    padding: 20px;
                    margin: 0;
                    color: #4c4c4c;
                    font-size: 1.5rem;
                }
                .date {
                    padding: 0 0 15px 20px;
                    color: #878787;
                    font-size: 1.1rem;
                    background-color: #fff;
                    display: block;
                    text-align: left;
                }
                .fb-link {
                    @include p-absolute(0, 0, 0, 0);
                }
            }
            &::after,
            &::before {
                @include clear();
            }
        }
    }
}


/* page contact*/

#page_contact {
    #top_wrap {
        @include config_container(1100px);
    }
}


/* other pages */

.other_page {
    #agreement_wrap,
    #tradelaw_wrap,
    #help_about,
    #privacy_box {
        @include config_container(1100px);
    }
}

/* modal window */

#carrier_domain_modal {
    #carrier_domain_wrap {
        display: none;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 590px;
        width: 540px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        .title {
            font-size: 16px;
            background-color: #ffeed9;
            color: #ff7700;
            font-weight: bold;
            padding: 8px;
            text-align: left;
        }
        .btn-close {
            position: absolute;
            top: 16px;
            right: 17px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../../default/img/sub/btn_close.png) center center no-repeat;
            text-indent: -9999px;
        }
        #carrier_domain_box {
            margin: 0 auto;
            width: 515px;
            height: 520px;
            overflow: scroll;
            table {
                width: 500px;
                height: 520px;
                margin :0 auto;
                tr {
                    font-size: 14px;
                    line-height: 120%;
                    th {
                        text-align: center;
                        padding: 5px;
                        vertical-align: bottom;
                        font-size: 80%;
                        clear: both;
                    }
                    td.carrier {
                        width: 50%;
                        text-align: center;
                        padding: 5px;
                        background-color: #F7F7F7;
                        border-left: #CCC 1px solid;
                        border-right: #CCC 1px solid;
                        border-bottom: #CCC 1px solid;
                    }
                    td.domain {
                        text-align: left;
                        padding: 5px 0 5px 15%;
                        border-right: #CCC 1px solid;
                        border-bottom: #CCC 1px solid;
                    }
                }
            }
        }
    }
    .blackcover {
        display: none;
        z-index: 9998;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.3);
    }
}