/* fixed style css eccube in eccube solution*/
@media only screen and (min-width: 768px) {
  .page-heading {
    font-size: 32px;
    font-size: 3.2rem;
    border-bottom-style: solid;
    border-top: 0 none;
    padding: 16px 0 16px;
    margin: 0 108px 48px; }
  .page-heading {
    margin: 41px 103px 10px;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    border-top: 1px solid #ccc;
    padding: 8px; }
  .col-sm-4 {
    width: 177px;
    margin: 42px 54px 0 150px; }
  .intro {
    margin: 0 550px;
    padding-top: 0.5em;
    padding-bottom: 28px; } }

/* break point*/
.slick-slider {
  margin: 0; }

/* hide and show mobile to pc*/
@media screen and (min-width: 981px) {
  .mobile_view {
    display: none; } }

@media screen and (max-width: 980px) {
  .desktop_view {
    display: none; } }

@media screen and (max-width: 980px) {
  #page_homepage #m-header-navigation .m_navigation.original {
    position: absolute;
    top: 0;
    right: 0;
    bottom: inherit;
    left: 0; }
  #m-header-navigation {
    z-index: 999;
    position: relative; }
    #m-header-navigation .m_navigation {
      padding-top: 10px; }
      #m-header-navigation .m_navigation .nav_list {
        float: left; }
        #m-header-navigation .m_navigation .nav_list.list_btn {
          width: 20%;
          padding: 10px; }
          #m-header-navigation .m_navigation .nav_list.list_btn img {
            height: 22px; }
        #m-header-navigation .m_navigation .nav_list.logo_wrap {
          width: 60%; }
          #m-header-navigation .m_navigation .nav_list.logo_wrap h1 {
            margin: 0; }
            #m-header-navigation .m_navigation .nav_list.logo_wrap h1 a {
              text-align: center;
              text-transform: uppercase;
              text-decoration: none;
              display: block;
              text-align: center;
              color: #000; }
        #m-header-navigation .m_navigation .nav_list.m_cart_icon {
          width: 20%;
          position: relative; }
          #m-header-navigation .m_navigation .nav_list.m_cart_icon img {
            height: 30px;
            position: absolute;
            top: 5px;
            right: 20px;
            bottom: inherit;
            left: inherit; }
          #m-header-navigation .m_navigation .nav_list.m_cart_icon .badge {
            position: absolute;
            top: 0;
            right: 6px;
            bottom: inherit;
            left: inherit;
            width: 25px;
            height: 25px;
            font-size: 15px;
            line-height: 20px;
            background-color: #000;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
      #m-header-navigation .m_navigation.cloned {
        position: fixed;
        top: 0;
        right: 0;
        bottom: inherit;
        left: 0;
        background: rgba(255, 255, 255, 0.8); }
        #m-header-navigation .m_navigation.cloned .m_cart_icon .badge {
          background-color: #000; }
      #m-header-navigation .m_navigation::after {
        content: '';
        display: table;
        clear: both; }
  #side_menu .side_wrap {
    z-index: 9999;
    position: fixed;
    height: 100%;
    left: -300px;
    top: 0;
    overflow: auto;
    width: 300px;
    background-color: #fff; }
    #side_menu .side_wrap .side_lists {
      padding: 10px 0 0 0; }
      #side_menu .side_wrap .side_lists .list.logo {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold; }
      #side_menu .side_wrap .side_lists .list.members {
        margin: 0 20px;
        padding-top: 10px; }
        #side_menu .side_wrap .side_lists .list.members a {
          padding: 5px 0;
          float: left;
          width: 45%;
          text-align: center;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          border-radius: 20px; }
          #side_menu .side_wrap .side_lists .list.members a:nth-child(1) {
            color: #fff;
            background: #686868;
            border: 1px solid #686868; }
          #side_menu .side_wrap .side_lists .list.members a:nth-child(2) {
            margin-left: 5%;
            border: 1px solid #000; }
        #side_menu .side_wrap .side_lists .list.members::after {
          content: '';
          display: table;
          clear: both; }
      #side_menu .side_wrap .side_lists .list.search_bar {
        padding-top: 13px; }
        #side_menu .side_wrap .side_lists .list.search_bar #search {
          padding: 0;
          background: #f0f0f0; }
          #side_menu .side_wrap .side_lists .list.search_bar #search #category_id {
            display: none; }
          #side_menu .side_wrap .side_lists .list.search_bar #search .extra-form {
            margin: 0; }
          #side_menu .side_wrap .side_lists .list.search_bar #search .input_search input[type="search"] {
            padding: 0 0 0 70px; }
          #side_menu .side_wrap .side_lists .list.search_bar #search .input_search .btn_search_close {
            display: none; }
          #side_menu .side_wrap .side_lists .list.search_bar #search .input_search .bt_search {
            left: 0; }
            #side_menu .side_wrap .side_lists .list.search_bar #search .input_search .bt_search .cb-search {
              fill: #ababab; }
      #side_menu .side_wrap .side_lists .list.mypage a {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 12px 0 12px 20px;
        text-align: center;
        display: block;
        float: left;
        width: 50%; }
        #side_menu .side_wrap .side_lists .list.mypage a:nth-child(1) {
          background-image: url(../../default/img/main/mypage_icon.png);
          background-repeat: no-repeat;
          background-position: 14px 11px;
          background-size: 25px; }
        #side_menu .side_wrap .side_lists .list.mypage a:nth-child(2) {
          border-left: 1px solid #000;
          background-image: url(../../default/img/main/speech_bubble_icon.png);
          background-repeat: no-repeat;
          background-position: 5px 14px;
          background-size: 25px; }
      #side_menu .side_wrap .side_lists .list.mypage::after {
        content: '';
        display: table;
        clear: both; }
      #side_menu .side_wrap .side_lists .list.links .link_lists .link_list a {
        display: block;
        padding: 12px 0 12px 20px;
        border-bottom: 1px solid #000;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500; }
        #side_menu .side_wrap .side_lists .list.links .link_lists .link_list a:focus {
          color: #e32157; }
      #side_menu .side_wrap .side_lists .list.sns_list {
        padding-top: 10px; }
        #side_menu .side_wrap .side_lists .list.sns_list a:nth-child(1) {
          padding-left: 15px; }
      #side_menu .side_wrap .side_lists .list a {
        color: #000; }
    #side_menu .side_wrap #btn_close_menu {
      position: absolute;
      top: 12px;
      left: 10px; }
      #side_menu .side_wrap #btn_close_menu img {
        height: 20px; }
  .side_menu_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9998;
    display: none; }
    .side_menu_bg.is_active {
      display: block; } }

/*main banner slider for web*/
@media screen and (max-width: 1620px) {
  .main_banner #slider_container .slider .slide_item img.so_1 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.ham_1 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.so_2 {
    display: block; }
  .main_banner #slider_container .slider .slide_item img.ham_2 {
    display: block; } }

@media screen and (max-width: 1360px) {
  .main_banner #slider_container .slider .slide_item img.so_2 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.ham_2 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.so_3 {
    display: block; }
  .main_banner #slider_container .slider .slide_item img.ham_3 {
    display: block; } }

@media screen and (max-width: 1280px) {
  .main_banner #slider_container .slider .slide_item img.so_3 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.ham_3 {
    display: none; }
  .main_banner #slider_container .slider .slide_item img.so_4 {
    display: block; }
  .main_banner #slider_container .slider .slide_item img.ham_4 {
    display: block; } }

/* for mobile ~ tablet*/
@media screen and (max-width: 640px) {
  .m_main_banner {
    display: none; }
  .m_main_banner_xs {
    display: block; }
    .m_main_banner_xs .slick-dots {
      top: 97%; } }

@media screen and (min-width: 641px) {
  .m_main_banner_xs {
    display: none; }
  .m_main_banner #m_slider_container .slick-prev {
    position: absolute;
    top: 50%;
    right: inherit;
    bottom: inherit;
    left: 20px;
    border: 0;
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    background: url(../../default/img/sub/arrow_left.png) no-repeat; }
  .m_main_banner #m_slider_container .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: inherit;
    left: inherit;
    border: 0;
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    background: url(../../default/img/sub/arrow_right.png) no-repeat; }
  .m_main_banner #m_slider_container .slick-dots {
    top: 93%; } }

/* main product slide*/
@media screen and (max-width: 980px) {
  #m_product_slider .wrap_product_lineup #lineup .lineup_slider {
    position: relative; }
    #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_img {
      margin: 30px 0; }
      #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_img img {
        width: 60%;
        margin: 0 auto; }
    #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text {
      padding: 0 15% 50px; }
      #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .product_name {
        padding-bottom: 15px;
        display: block;
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 0;
        color: #5fadc3; }
      #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .desc {
        display: block;
        padding-bottom: 25px; }
      #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .type {
        padding-bottom: 19px; }
        #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .type .taste {
          float: left;
          width: 50%;
          text-align: left;
          font-size: 14px; }
          #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .type .taste img {
            display: inline-block; }
        #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .type::after {
          content: '';
          display: table;
          clear: both; }
      #m_product_slider .wrap_product_lineup #lineup .lineup_slider .item .wrap_text .link_shop {
        display: inline-block;
        width: 150px;
        height: 50px;
        background: #000;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        color: #fff;
        text-align: center;
        text-transform: inherit;
        text-decoration: none;
        line-height: 50px; }
    #m_product_slider .wrap_product_lineup #lineup .lineup_slider .slick-prev {
      background: url(../../default/img/sub/arrow_left.png) no-repeat;
      position: absolute;
      top: 35%;
      right: inherit;
      bottom: inherit;
      left: 0;
      text-indent: -9999px;
      border: 0;
      width: 25px;
      height: 40px;
      left: 10px; }
    #m_product_slider .wrap_product_lineup #lineup .lineup_slider .slick-next {
      background: url(../../default/img/sub/arrow_right.png) no-repeat;
      position: absolute;
      top: 35%;
      right: 0;
      bottom: inherit;
      left: inherit;
      text-indent: -9999px;
      border: 0;
      width: 25px;
      height: 40px;
      right: 10px; }
  #m_product_slider .wrap_product_lineup #info_slider .tab_btns {
    text-align: center;
    position: relative;
    min-height: 70px;
    width: 50%;
    margin: 0 auto; }
    #m_product_slider .wrap_product_lineup #info_slider .tab_btns .tab_btn {
      position: absolute;
      display: inline-block;
      width: 170px;
      height: 50px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      border-radius: 40px;
      text-align: center;
      text-transform: inherit;
      text-decoration: none;
      line-height: 40px;
      background: #fff;
      color: #000;
      border: 1px solid #000;
      line-height: 50px; }
      #m_product_slider .wrap_product_lineup #info_slider .tab_btns .tab_btn.btn_info1 {
        right: 40%; }
      #m_product_slider .wrap_product_lineup #info_slider .tab_btns .tab_btn.btn_info2 {
        left: 40%; }
      #m_product_slider .wrap_product_lineup #info_slider .tab_btns .tab_btn.is_active {
        z-index: 100;
        background: #000;
        color: #fff; }
  #m_product_slider .wrap_product_lineup #info_slider .wrap_info {
    position: relative;
    min-height: 400px;
    padding: 0 20px; }
    #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info {
      visibility: hidden; }
      #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_hamburger {
        margin-top: -281px; }
        #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_hamburger .content h3 {
          text-align: center;
          font-size: 30px;
          margin: 0; }
        #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_hamburger .content p:nth-child(2) {
          text-align: center;
          font-size: 100px;
          margin: 22px 0 27px; }
          #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_hamburger .content p:nth-child(2) span {
            font-size: 25px;
            display: inline-block;
            margin-left: -20px; }
        #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_hamburger .content p:nth-child(3) {
          text-align: center;
          font-size: 18px;
          margin: 0; }
      #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_sausage .content h3 {
        text-align: center;
        font-size: 30px;
        margin: 0; }
      #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_sausage .content p:nth-child(2) {
        text-align: center;
        font-size: 100px;
        margin: 22px 0 27px; }
        #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_sausage .content p:nth-child(2) span {
          font-size: 25px;
          display: inline-block;
          margin-left: -20px; }
      #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info #info_slider_sausage .content p:nth-child(3) {
        text-align: center;
        font-size: 18px;
        margin: 0; }
      #m_product_slider .wrap_product_lineup #info_slider .wrap_info .box_info.is_active {
        visibility: visible; } }

@media screen and (max-width: 980px) {
  #curtain-container .m_curtain_wrap {
    background-color: #fff; }
    #curtain-container .m_curtain_wrap .division_wrap {
      height: 100%; }
      #curtain-container .m_curtain_wrap .division_wrap .img_wrap {
        position: relative;
        height: 60%; }
        #curtain-container .m_curtain_wrap .division_wrap .img_wrap img {
          width: 100%;
          height: 100%; }
        #curtain-container .m_curtain_wrap .division_wrap .img_wrap .text_img {
          position: absolute;
          top: 0;
          right: inherit;
          bottom: inherit;
          left: 0;
          transform: scale(0.5); }
      #curtain-container .m_curtain_wrap .division_wrap .desc_wrap {
        height: 40%;
        padding: 20px 50px; }
        #curtain-container .m_curtain_wrap .division_wrap .desc_wrap .sub_tit {
          font-size: 13.5px;
          display: block;
          text-align: left;
          text-transform: capitalize;
          text-decoration: none;
          font-weight: bold; }
        #curtain-container .m_curtain_wrap .division_wrap .desc_wrap .heading_text {
          margin: 0;
          padding: 14px 0 32px;
          font-size: 29px; }
        #curtain-container .m_curtain_wrap .division_wrap .desc_wrap .desc {
          margin: 0;
          font-size: 13px;
          color: #232323;
          line-height: 25px; } }

/* main review */
@media screen and (max-width: 980px) {
  #customer_review .wrap .mailing_btn {
    margin-right: 15%; }
  #customer_review .wrap .review_lists .list {
    display: none; }
    #customer_review .wrap .review_lists .list:nth-child(1) {
      display: block;
      float: none;
      width: 80%;
      margin: 0 auto; } }

@media screen and (max-width: 980px) {
  #visitor #project_facts .project_facts_wrap {
    display: block; }
    #visitor #project_facts .project_facts_wrap .item {
      width: 100%;
      height: 100%;
      padding: 37px 0 33px; }
      #visitor #project_facts .project_facts_wrap .item .project {
        margin: 0 0 15px 0;
        font-size: 15px; }
      #visitor #project_facts .project_facts_wrap .item .numbering {
        font-size: 50px; } }

@media screen and (max-width: 980px) {
  #event_banner .banner_wrap {
    background-blend-mode: multiply;
    min-height: 145px;
    background-attachment: unset; }
    #event_banner .banner_wrap .banner_text {
      position: static;
      transform: none;
      padding: 33px 0 25px; }
      #event_banner .banner_wrap .banner_text span {
        font-size: 11.5px; }
      #event_banner .banner_wrap .banner_text p {
        font-size: 21px; }
      #event_banner .banner_wrap .banner_text a {
        width: 96px;
        height: 30px;
        font-size: 11.5px;
        line-height: 30px; } }

#footer-container .bold {
  font-weight: bold; }

#footer-container .m_footer {
  padding: 0px 20px; }

#footer-container .mobile_view h2 {
  font-size: 1.9rem; }

#footer-container .mobile_view .row {
  padding: 0;
  margin-bottom: 0; }

#footer-container .mobile_view div:nth-child(3) {
  text-align: center;
  margin-bottom: 1em; }

#footer-container .mobile_view .mobile-cc:first-child {
  margin-bottom: 20px; }

#footer-container .mobile_view .mobile-cc > li {
  font-size: 13px;
  padding: 2px 0;
  text-align: left;
  display: block;
  margin: 0; }

#footer-container .mobile_view .mobile-cc > li a {
  color: #000; }

#footer-container #copyright {
  width: 100% !important;
  text-align: center; }

@media screen and (max-width: 1280px) {
  #about_company .about_wrap {
    padding: 0 20px; }
    #about_company .about_wrap .section.about #vision {
      padding-top: 35px; }
      #about_company .about_wrap .section.about #vision h2 {
        font-size: 33.5px;
        padding-bottom: 20px; }
      #about_company .about_wrap .section.about #vision .part.text_box .list.red {
        font-size: 26px; }
      #about_company .about_wrap .section.about #vision .part.text_box .list.black {
        font-size: 16px;
        padding: 56px 0 0 32px; }
    #about_company .about_wrap .section.about #mission {
      padding: 100px 0 100px 0; }
      #about_company .about_wrap .section.about #mission h2 {
        font-size: 24px; }
      #about_company .about_wrap .section.about #mission .mission_lists .list {
        padding: 25px;
        min-height: 180px; }
        #about_company .about_wrap .section.about #mission .mission_lists .list h3 {
          padding-bottom: 15px;
          font-size: 18px; }
        #about_company .about_wrap .section.about #mission .mission_lists .list p {
          font-size: 13.5px; } }

@media screen and (max-width: 980px) {
  #about_company .about_wrap {
    padding: 0; }
    #about_company .about_wrap .section.about #vision h2 {
      font-size: 30px; }
    #about_company .about_wrap .section.about #vision .part {
      float: none;
      width: 100%; }
      #about_company .about_wrap .section.about #vision .part.img_box img {
        position: relative;
        left: 10%; }
      #about_company .about_wrap .section.about #vision .part.text_box .list.red {
        font-size: 24px;
        top: -60px;
        left: 0;
        padding-left: 20px; }
      #about_company .about_wrap .section.about #vision .part.text_box .list.black {
        padding: 0 20px;
        margin-top: -20px; }
    #about_company .about_wrap .section.about #mission {
      padding: 72.5px 20px; }
      #about_company .about_wrap .section.about #mission h2 {
        font-size: 20px; }
      #about_company .about_wrap .section.about #mission .mission_lists.on_sliding {
        position: relative; }
        #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .list {
          text-align: center;
          padding: 30px 40px 0; }
          #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .list h3 {
            font-size: 22px; }
          #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .list p {
            font-size: 18px;
            padding: 0 10px; }
        #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-prev {
          text-indent: -9999px;
          width: 20px;
          height: 40px;
          position: absolute;
          top: 50%;
          right: inherit;
          bottom: inherit;
          left: 0;
          transform: translate(0, -50%);
          background: url(../../default/img/sub/arrow_left.png) no-repeat;
          border: 0; }
        #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-next {
          text-indent: -9999px;
          width: 20px;
          height: 40px;
          position: absolute;
          top: 50%;
          right: 0;
          bottom: inherit;
          left: inherit;
          transform: translate(0, -50%);
          background: url(../../default/img/sub/arrow_right.png) no-repeat;
          border: 0; }
        #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-dots {
          width: 100%; }
          #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-dots li {
            width: 16.66667%;
            margin: 0; }
            #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-dots li button {
              width: 100%; }
              #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-dots li button::before {
                width: 100%;
                height: 6px;
                background-color: #d1d1d1;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0; }
            #about_company .about_wrap .section.about #mission .mission_lists.on_sliding .slick-dots li.slick-active button::before {
              background-color: #fd1851; } }

@media screen and (max-width: 980px) {
  #page_cart #cart #cart_box__body .total_box .total_price {
    position: absolute;
    top: inherit;
    right: 0;
    bottom: inherit;
    left: inherit;
    width: 180px;
    color: #000; }
    #page_cart #cart #cart_box__body .total_box .total_price .text-primary {
      margin-right: 10%; }
  #page_cart #cart #cart_box__body .total_box .btn_group {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px; }
    #page_cart #cart #cart_box__body .total_box .btn_group p {
      float: right;
      width: 49%; } }
