@media screen and (max-width: #{$mobile}) {
    #event_banner {
        .banner_wrap {
            background-blend-mode: multiply;
            min-height: 145px;
            background-attachment: unset;
            .banner_text {
                position: static;
                transform: none;
                padding: 33px 0 25px;
                span {
                    font-size: 11.5px;
                }
                p {
                    font-size: 21px;
                }
                a {
                    width: 96px;
                    height: 30px;
                    font-size: 11.5px;
                    line-height: 30px;
                }
            }
        }
    }
}