{% extends 'default_frame.twig' %}

{% block stylesheet %}
<style>
#faq-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.faq .tabContainer ul.tabMenu li {
    min-width: 25%;
    float: left;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0;
}

</style>
{% endblock stylesheet %}
{% block main %}


                <div id="faq-container" class=""></div>

 
{% endblock main %}