<div id="event_banner">
    <div class="banner_wrap">
        <div class="banner_text">
            <span>簡単で栄養価の高い食事</span>
            <p><span class="line-break">健康で美味しい</span><span class="line-break">リアルフードTANPAKUN</span></p>
            <a href="{{ url('product_list') }}">今すぐ購入する</a>   
        </div>
    </div>
</div>